.table div{
    background: #333;
    color: #fff;
    border-radius: 5px;
}

.data div{
    font-size: 16px;
    text-align: center;
    border-bottom: .5px solid rgb(219, 223, 223);
}

hr{
    border-bottom: 1px dashed #299;
}

.fakeLink{
    cursor: pointer;
}